<%#
  <body class="p-3 m-0 border-0 bd-example"> %>

<div class="container">

<%# THIS IS THE TITLE AND A BIT ABOUT AND A DISCOVER MORE BUTTON %>
  <div class="flex-box">
    <div class="row">
      <h1 class="title">FLENTAL<h1>
    </div>

    <div class="row">
    <h3>Rent a flat or rent your flat in London!</h3>
    </div>

    <div class="row">
      <div class="col-sm-6 host-text">
        <p>Have you ever wondered what your flat does when you go back home for the weekend?
        <br>Use Flental to make money from renting your flat while you're away! </p>
      </div>

      <div class="col-sm-6 rent-text">
        <p>Have you ever visited London and wanted to stay in a fitted and kitted out just how you like it?
          <br>While you're visiting London for the weekend why not stay in a swanky space!
        </p>
      </div>
    </div>

    <div class="row">
      <h3>Flental brings together trusted hosts and hostees </h3>
    </div>
    <br>
    <%= link_to "Discover", flats_path, class:"btn-flat"%>
  </div>
    <br>
    <br>
  <%# THIS IS THE CAROSEL OF IMAGES %>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1661916123448-116815d2f40b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1288&q=80" class="d-block w-100" style="height: 700px" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1661916123448-116815d2f40b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1288&q=80" class="d-block w-100" style="height: 700px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1451153378752-16ef2b36ad05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2067&q=80" class="d-blockw-100" style="height: 700px" alt="flats">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
