<h1>Flats#show</h1>



<p>Find me in app/views/flats/show.html.erb</p>
<%= @flat.name %>

<%= link_to "back to index", root_path %>

<div>
<%= cl_image_tag @flat.photo.key, height: 300, width: 400, crop: :fill %>

</div>
