
<p>Booking complete</p>
<%= link_to "back to home", root_path %>

<div class="container">


<h3 class="border-bottom">Thank you for booking with us!</h3>

  <%# <div class="row">
    <h3>Confirm & Pay</h3>
  </div>

  <div class="row">
    <h4>Your trip</h4>
    <p>Dates</p>
    <p></p>
  </div> %>

  <%= link_to "back to home", root_path %>
</div>

