<ul>
  <li>FLAT NAME          STARTDATE        END DATE</li>
  <p>--------------------------------------------------</p>
  <% @bookings.each do |booking| %>
  <li> <%= booking.flat.name %><%= booking.startdate %><%= booking.enddate %></li>
  <%= end %>
</ul>
