.card{
  border: 6px solid black;
  text-decoration: none;
}
.card-infos h2 {
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family:'Times New Roman', Times, serif

}



.card-infos{
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}
.card-img{
  border-radius: 5px;
}

.card-pricing {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
