// button for the banner

.btn-flat {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #932F6D;
  transition: background 0.3s ease;

}

.btn-flat:hover {
  background: #932F6D;
  color: black;
  font-weight: bolder;
}


// font colours
// dark purple 420039
// lighter purp 932F6D
// orchid E07BE0
//
