.btn-flat {
  color: white;
  padding: 15px 24px;
  border-radius: 7px;
  letter-spacing: 1px;
  background: #c3005c;
  transition: 0.3s ease;
  margin: auto;
}


.btn-flat:hover {
  background: #ff6499;
  letter-spacing: 1px;
  text-decoration: none;
  color:white;
}
