// button for the banner
// font colours
// dark pink #
// lighter pink #c3005c
// lighter #ff6499
//#932F6D;


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 7px;
  letter-spacing: 1px;
  background: #6e0037;
  transition: 0.3s ease;
  margin: auto;

}


.btn-flat:hover {
  background: #ff6499;
  letter-spacing: 1px;
  text-decoration: none;
  color:white;
}
