h1 {
  font-family:'Times New Roman', Times, serif;
  color: #c3005c;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  color: black;
}

h2 {
  color: black;
}
